#game-container {
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 450px;
    margin: auto;
}

.square {
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    justify-content: center;
    align-items: center;
}


button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #15883e;
    height: 48px;
    :hover{
        background-color: #1db954;
    }

}
                    
                